/* POPPINS FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F8F8FA;
}

.container {
  margin: 0 5%;
}

h1,
h2 {
  font-size: 3rem;
  font-weight: 700;
}

/* Header */

header {
  background-color: #4617FE;
  padding-top: 2%;
  position: relative;
  height: 80vh;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-item {
  margin: 0 20px;
  color: #ffffff;
}

nav .active {
  background-color: #ffffff;
  color: #4617FE;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
}

nav svg {
  height: 20px;
  width: 20px;

}
.menu-icon {
  display: none;
}

/* Logo */

header .logo {
  cursor: pointer;
  display: block;
}

/* Header-Image */

header .header-image {
  position: absolute;
  right: 0;
  top: 20%;
  height: 80vh;
}

/* Header-Text */

header .header-text {
  margin-top: 8%;
  color: #ffffff;
}

header .header-text h2 {
  font-size: 3.5rem;
  font-weight: 400;
}

header .header-text p {
  margin-top: 2%;
  font-size: 1.5rem;
}

/* Companies */

.companies {
  display: flex;
  margin: 3% 0 7%;
}

.companies .company-items {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000000;
  font-family: 'Righteous', cursive;
  margin-right: 10%;
}

/* API */

.api .cards {
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.api .card-active {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 14px -10px #000;
}

.api .card-active .card-head-active {
  color: #5A31FC;
}

.api .cards .card,
.api .card-active {
  height: 300px;
  width: 18%;
  padding: 0 30px;
  border-radius: 20px;
  transition: .2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.api .cards .card:hover {
  box-shadow: 0 0 14px -10px #000;
  background-color: #ffffff;
  transform: translateY(-1%);
}

.api .cards .card .logo-purple {
  display: none;
}

.api .cards .card:hover .logo-purple {
  display: block;
}

.api .cards .card:hover .logo-black {
  display: none;
}

.api .cards .card .logo-black {
  display: block;
}

.card:hover .card-head {
  color: #5A31FC;
}

.api .card-head,
.api .card-head-active {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 15px;
  font-weight: 600;
}

.api .card-body {
  margin-top: 10px;
  font-weight: 400;
}

.api .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #5A31FC;
  transition: .2s ease-in-out;
}

.api .circle:hover {
  transform: translateY(-5%);
}

.api .circle .right {
  text-align: center;
  font-size: 2rem;
  color: #F8F8FA;
}

/* Blog */

.blog-cards {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blog-card {
  border-radius: 65px 10px 10px 10px;
  position: relative;
  background-color: #ffffff;
  display: flex;
  width: 40%;
  height: 350px;
  box-shadow: 0 0 10px -5px #000000;
}

.blog-image img {
  display: flex;
  height: 100%;
}

.blog-content {
  padding: 5% 7%;
}

.blog-content h6 {
  color: #5A31FC;
  font-weight: 800;
  margin-bottom: 5%;
}

.blog-content h3 {
  font-size: 1.5rem;
  margin-bottom: 5%;
}

.blog-content small {
  font-size: .8rem;
}

.blog-bottom {
  display: flex;
  position: absolute;
  bottom: -7%;
  left: 50%;
}

.blog-card-bottom-image {
  filter: drop-shadow(2px 2px 0 #ffffff) drop-shadow(-2px 2px 0 #ffffff) drop-shadow(2px -2px 0 #ffffff) drop-shadow(-2px -2px 0 #ffffff);
  margin-right: 15px;
}

/* FAQ SECTION */

.faq-section {
  margin-top: 5%;
  background-image: url('./images/Rectangle_38-2\ \(1\).png');
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
  background-color: #E9EDFF;
  position: relative;
}

.faq-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4% 0;
}

.faq-content h4 {
  margin-top: 1%;
  font-weight: 400;
}

.faq-content .question {
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 2%;
}

.faq-content button {
  margin-top: 2%;
  background-color: #4617FE;
  border: none;
  color: #E9EDFF;
  border-radius: 5px;
  padding: 10px 20px;
}

/* Download Now */

.container-2 {
  margin: 0 5%;
}

.download-section {
  background-color: #ffffff;
}

.download-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6% 0;
}

.download-content h1 {
  font-size: 2rem;
}

.download-content span {
  font-weight: 400;
}

form {
  position: relative;
}

.download-email input[type=text] {
  background-color: #E9EDFF;
  border: none;
  border-radius: 35px;
  width: 600px;
  font-size: 1rem;
  padding: 17px 0 17px 30px;
  position: relative;
}

.download-email input::placeholder {
  color: #000000;
}

.download-email input[type=submit] {
  position: absolute;
  background-color: #4617FE;
  color: #ffffff;
  right: 1%;
  top: 7%;
  padding: 15px 50px;
  border-radius: 35px;
  border: none;
}

/* footer-section */

.footer-section {
  background-color: #4617FE;
  padding: 5% 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}


.footer-left .footer-logo,
.footer-logo-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.footer-left .list,
.footer-right .logos-list {
  list-style: none;
}

.footer-left .list-items,
.footer-right .list-items {
  display: inline-block;
  color: #ffffff;
  font-weight: 300;
}

.footer-left .list-items {
  padding-right: 30px;
}

.footer-right .list-items {
  padding-left: 30px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-logos {
  padding-left: 25px;
}

/* Pseudo Classes Footer */

.apis {
  position: relative;
}


.apis:before {
  content: "";
  height: 15px;
  position: absolute;
  left: -28%;
  top: 20%;
  background-color: #ffffff;
  width: 1px;
  display: block;
}

.apis:after {
  content: "";
  height: 15px;
  position: absolute;
  right: 23%;
  top: 20%;
  background-color: #ffffff;
  width: 1px;
  display: block;
}

.blogs {
  position: relative;
}

.blogs:after {
  content: "";
  height: 15px;
  position: absolute;
  right: 23%;
  top: 20%;
  background-color: #ffffff;
  width: 1px;
  display: block;
}

.business {
  position: relative;
}

.business:before {
  content: "";
  height: 15px;
  position: absolute;
  left: 13%;
  top: 20%;
  background-color: #ffffff;
  width: 1px;
  display: block;
}

.business:after {
  content: "";
  height: 15px;
  position: absolute;
  right: -17%;
  top: 20%;
  background-color: #ffffff;
  width: 1px;
  display: block;
}

/* Media Queries */

@media only screen and (max-width: 1620px) {

  /* Header */

  header {
    height: 70vh;
  }

  /* Navbar */

  /* Logo */

  header .logo {
    cursor: pointer;
    display: block;
  }

  /* Header-Image */

  header .header-image {
    height: 70vh;
  }

  /* Header-Text */

  header .header-text h2 {
    font-size: 2.5rem;
  }

  header .header-text p {
    font-size: 1.5rem;
  }

  /* Companies */

  .companies .company-items {
    font-size: 1.5rem;
    margin-right: 10%;
  }

  .api .cards .card,
  .api .card-active {
    height: 280px;
  }

  .api .card-head,
  .api .card-head-active {
    font-size: 1.3rem;
  }

  .api .card-body {
    font-size: .9rem;
  }

  /* Blog */
  .blog-card {
    border-radius: 65px 10px 10px 10px;
    width: 45%;
    height: 350px;
  }

}

@media only screen and (max-width: 1440px) {

  h1,
  h2 {
    font-size: 2.5rem;
  }

  header {
    height: 70vh;
  }

  /* Header-Image */

  header .header-image {
    position: absolute;
    right: 0;
    top: 20%;
    height: 70vh;
  }

  /* Header-Text */

  header .header-text h2 {
    font-size: 2.5rem;
  }

  header .header-text p {
    font-size: 1.4rem;
  }

  /* Companies */

  .companies .company-items {
    margin-right: 6%;
  }

  /* API */

  .api .cards .card,
  .api .card-active {
    height: 280px;
    width: 18%;
  }

  .api .card-head,
  .api .card-head-active {
    font-size: 1.3rem;
  }

  .api .card-body {
    font-size: .9rem;
  }

  /* Blog */

  .blog-bottom {
    left: 55%;
  }

  .blog-content .blog-author {
    font-size: .9rem;
  }

}

@media only screen and (max-width: 1200px) {

  h1,
  h2 {
    font-size: 2.5rem;
  }

  header {
    height: 70vh;
  }

  /* Header-Image */

  header .header-image {
    position: absolute;
    right: 0;
    top: 20%;
    height: 70vh;
  }

  /* Header-Text */

  header .header-text h2 {
    font-size: 2.5rem;
  }

  header .header-text p {
    font-size: 1.4rem;
  }

  /* Companies */

  .companies .company-items {
    margin-right: 6%;
  }

  /* API */

  .api .cards .card,
  .api .card-active {
    height: 280px;
    width: 18%;
  }

  .api .card-head,
  .api .card-head-active {
    font-size: 1.3rem;
  }

  .api .card-body {
    font-size: .9rem;
  }

  /* Blog */

  .blog-bottom {
    left: 55%;
  }

  .blog-content .blog-author {
    font-size: .9rem;
  }

}

@media only screen and (max-width: 1024px) {

  h1,
  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  /* Header */

  header {
    height: 50vh;
  }

  /* Navbar */

  nav {
    display: none;
  }

  .menu-icon {
    display: flex;
    font-size: 1.5rem;
    color: #ffffff;
  }

  /* Header-Image */

  header .header-image {
    height: 50vh;
  }

  /* Header-Text */

  header .header-text h2 {
    font-size: 2rem;
  }

  header .header-text p {
    font-size: 1.2rem;
    width: 50%;
  }

  /* Companies */

  .companies .company-items {
    font-size: 1.3rem;
    margin-right: 3%;
  }

  /* API */

  .api .cards {
    justify-content: center;
    gap: 15px;
  }

  .api .cards .card,
  .api .card-active {
    height: 300px;
    width: 32%;
  }

  .api .card-head,
  .api .card-head-active {
    font-size: 1.4rem;
    margin-top: 20px;
  }

  .api .card-body {
    margin-top: 15px;
    font-size: 1rem;
  }


  /* Blog */

  .blog-cards {
    flex-direction: column;
    gap: 50px;
  }

  .blog-card {
    width: 70%;
    height: 300px;
  }

  /* FAQ SECTION */

  .faq-content h4 {
    font-size: .9rem;
  }

}

@media only screen and (max-width: 768px) {

  h1,
  h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  /* Header */

  header {
    padding-top: 5%;
    height: 55vh;
  }

  .menu-icon {
    display: flex;
    font-size: 1.8rem;
    color: #ffffff;
  }

  /* Header-Image */

  header .header-image {
    top: 25%;
    height: 40vh;
  }

  /* Header-Text */

  header .header-text h2 {
    font-size: 1.5rem;
  }

  header .header-text p {
    font-size: 1rem;
  }

  /* Companies */

  .companies {
    display: flex;
    justify-content: space-between;
  }

  .companies .company-items {
    font-size: 1.5rem;
    margin-right: 0;
  }

  /* API */

  .api .cards {
    justify-content: space-between;
    gap: 10px;
  }

  .api .cards .card,
  .api .card-active {
    width: 45%;
  }

  /* Blog */

  .blog-cards {
    flex-direction: column;
    gap: 50px;
  }

  .blog-card {
    width: 85%;
    height: 250px;
  }

  .blog-content h6 {
    margin-bottom: 5%;
  }

  .blog-content h3 {
    font-size: 1rem;
  }

  .blog-content small {
    font-size: .7rem;
  }

  .blog-card-bottom-image {
    filter: drop-shadow(2px 2px 0 #ffffff) drop-shadow(-2px 2px 0 #ffffff) drop-shadow(2px -2px 0 #ffffff) drop-shadow(-2px -2px 0 #ffffff);
    margin-right: 15px;
    width: 25%;
  }

  /* FAQ SECTION */


  .faq-content h4 {
    margin-top: 1%;
    font-size: .7rem;
  }

  .faq-content .question {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 2%;
  }


  /* Download Now */

  .download-content h1 {
    font-size: 1.7rem;
  }

  .download-content span {
    font-weight: 400;
  }

  .download-email input[type=text] {
    width: 350px;
    font-size: .8rem;
    padding: 15px 0 15px 25px;
  }

  .download-email input[type=submit] {
    padding: 11px 20px;
  }

  /* footer-section */

  .footer-left .list-items {
    font-size: .8rem;
    padding-right: 30px;
  }

  .footer-right .list-items {
    font-size: .8rem;
    padding-left: 30px;
  }


  /* Pseudo Classes Footer */

  .apis {
    position: relative;
  }

  .apis:before {
    content: "";
    height: 14px;
    position: absolute;
    left: -28%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }

  .apis:after {
    content: "";
    height: 14px;
    position: absolute;
    right: 23%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }

  .blogs {
    position: relative;
  }

  .blogs:after {
    content: "";
    height: 14px;
    position: absolute;
    right: 23%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }

  .business {
    position: relative;
  }

  .business:before {
    content: "";
    height: 14px;
    position: absolute;
    left: 13%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }

  .business:after {
    content: "";
    height: 14px;
    position: absolute;
    right: -17%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }
}

@media only screen and (max-width: 576px) {

  h1,
  h2 {
    font-size: 1.8rem;
    font-weight: 700;
  }

  /* Header */

  header {
    padding-top: 5%;
    height: 55vh;
  }

  .menu-icon {
    display: flex;
    font-size: 1.8rem;
    color: #ffffff;
  }

  /* Header-Image */

  header .header-image {
    top: 45%;
    height: 30vh;
  }

  /* Header-Text */

  header .header-text h2 {
    font-size: 1.5rem;
  }

  header .header-text p {
    font-size: 1rem;
  }

  /* Companies */

  .companies {
    display: flex;
    justify-content: space-between;
  }

  .companies .company-items {
    font-size: 1.5rem;
    margin-right: 0;
  }

  /* API */

  .api .cards {
    justify-content: space-between;
    gap: 0;
  }

  .api .cards .card,
  .api .card-active {
    width: 45%;
  }

  /* Blog */

  .blog-card {
    width: 100%;
  }

  .blog-card-bottom-image {
    filter: drop-shadow(2px 2px 0 #ffffff) drop-shadow(-2px 2px 0 #ffffff) drop-shadow(2px -2px 0 #ffffff) drop-shadow(-2px -2px 0 #ffffff);
    margin-right: 15px;
    width: 25%;
  }

  /* FAQ SECTION */


  .faq-content h4 {
    margin-top: 1%;
    font-size: .7rem;
  }

  .faq-content .question {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 2%;
  }


  /* Download Now */

  .download-wrapper{
    flex-direction: column;
  }

  .download-content h1 {
    font-size: 1.1rem;
  }

  .download-content span {
    font-weight: 400;
  }

  .download-email input[type=text] {
    width: 300px;
    font-size: .8rem;
    padding: 15px 0 15px 25px;
  }

  .download-email input[type=submit] {
    padding: 11px 20px;
  }

  /* footer-section */

  .footer-left .list-items {
    font-size: .8rem;
    padding-right: 30px;
  }

  .footer-right .list-items {
    font-size: .8rem;
    padding-left: 30px;
  }


  /* Pseudo Classes Footer */

  .apis {
    position: relative;
  }

  .apis:before {
    content: "";
    height: 14px;
    position: absolute;
    left: -28%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }

  .apis:after {
    content: "";
    height: 14px;
    position: absolute;
    right: 23%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }

  .blogs {
    position: relative;
  }

  .blogs:after {
    content: "";
    height: 14px;
    position: absolute;
    right: 23%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }

  .business {
    position: relative;
  }

  .business:before {
    content: "";
    height: 14px;
    position: absolute;
    left: 13%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }

  .business:after {
    content: "";
    height: 14px;
    position: absolute;
    right: -17%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

  h1,
  h2 {
    font-size: 1.3rem;
  }

  /* Header */

  header {
    height: 55vh;
  }


  /* Header-Image */

  header .header-image {
    top: 50%;
    height: 25vh;
  }

  /* Header-Text */

  header .header-text h2 {
    font-size: 1.2rem;
  }

  header .header-text p {
    font-size: 1rem;
    width: 100%;
  }

  /* Companies */

  .companies {
    display: flex;
    justify-content: space-between;
  }

  .companies .company-items {
    font-size: .8rem;
    margin-right: 0;
  }

  /* API */

  .api .cards {
    justify-content: space-between;
    gap: 0;
  }

  .api .cards .card,
  .api .card-active {
    width: 100%;
  }

  .circle{
    display: none;
  }

  /* Blog */

  .blog-card {
    height: 150px;
    width: 100%;
  }

  .blog-image img {
    display: flex;
    height: 100%;
  }
  
  .blog-content h6{
    font-size: .5rem;
  }

  .blog-content h3 {
    font-size: .6rem;
    margin-bottom: 0;
  }
  
  .blog-content small {
    margin-bottom: 0px;
    position: relative;
    top: -10%;
    font-size: .3rem;
  }

  .blog-content .blog-author{
    font-size: .5rem;
  }

  .blog-card-bottom-image {
    filter: drop-shadow(2px 2px 0 #ffffff) drop-shadow(-2px 2px 0 #ffffff) drop-shadow(2px -2px 0 #ffffff) drop-shadow(-2px -2px 0 #ffffff);
    margin-right: 15px;
    width: 15%;
  }

  /* FAQ SECTION */


  .faq-content h4 {
    margin-top: 1%;
    font-size: .7rem;
  }

  .faq-content .question {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 2%;
  }


  /* Download Now */

  .download-wrapper{
    flex-direction: column;
  }

  .download-content h1 {
    font-size: 1.1rem;
  }

  .download-content span {
    font-weight: 400;
  }

  .download-email input[type=text] {
    width: 300px;
    font-size: .8rem;
    padding: 15px 0 15px 25px;
  }

  .download-email input[type=submit] {
    padding: 11px 20px;
  }

  /* footer-section */

  .footer-left .list-items {
    font-size: .8rem;
    padding-right: 30px;
  }

  .footer-right .list-items {
    font-size: .8rem;
    padding-left: 30px;
  }


  /* Pseudo Classes Footer */

  .apis {
    position: relative;
  }

  .apis:before {
    content: "";
    height: 14px;
    position: absolute;
    left: -28%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }

  .apis:after {
    content: "";
    height: 14px;
    position: absolute;
    right: 23%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }

  .blogs {
    position: relative;
  }

  .blogs:after {
    content: "";
    height: 14px;
    position: absolute;
    right: 23%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }

  .business {
    position: relative;
  }

  .business:before {
    content: "";
    height: 14px;
    position: absolute;
    left: 13%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }

  .business:after {
    content: "";
    height: 14px;
    position: absolute;
    right: -17%;
    top: 20%;
    background-color: #ffffff;
    width: 1px;
    display: block;
  }
}